---
import Layout                   from '@layouts/Layout.astro';
import Navbar                   from '@organisms/Navbar.astro';
import HeroSection              from '@organisms/HeroSection.astro';
import ProblemSection           from '@organisms/ProblemSection.astro';
import SolutionSection          from '@organisms/SolutionSection.astro';
import HowItWorksSection        from '@organisms/HowItWorksSection.astro';
import BenefitsSection          from '@organisms/BenefitsSection.astro';
import SustainableModelSection  from '@organisms/SustainableModelSection.astro';
import JoinSection              from '@organisms/JoinSection.astro';
import Footer                   from '@organisms/Footer.astro';
---
<Layout>
  <Navbar/>

  <main class="px-5">
    <HeroSection/>
    <ProblemSection/>
    <SolutionSection/>
    <HowItWorksSection/>
    <BenefitsSection/>
    <SustainableModelSection/>
    <JoinSection/>
  </main>

  <Footer/>
</Layout>
