---
interface Props { level?: 1 | 2 }
const { level = 1 } = Astro.props as Props;
const delay = level * 100;
const size  = level === 1 ? 'text-4xl' : 'text-2xl';
---
{level === 1 ? (
  <h1 class={`delay-${delay} ${size} font-bold`}>
    <slot/>
  </h1>
) : (
  <h2 class={`delay-${delay} ${size} font-bold`}>
    <slot/>
  </h2>
)}
