---
import HeroContent from '@molecules/HeroContent.astro';
import ImagePlaceHolder from '@atoms/ImagePlaceHolder.astro';
---
<section id="inicio" class="bg-white py-20">
  <div class="max-w-7xl mx-auto flex flex-col-reverse items-center space-y-10 gap-5 md:flex-row md:space-y-0 md:space-x-10">
    <HeroContent/>
    <ImagePlaceHolder aspect="16/9"/>
  </div>
</section>
